<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard">
        <div class="sidebar-brand-icon">
            <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Health Emergency</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-skating"></i>
            <span>Incidents</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Incidents</h6>
                <a class="collapse-item" href="/incident/add">
                    <i class="fas fa-fw fa-plus"></i>
                    <span>Add Incident</span></a>
                <a class="collapse-item" href="/incident/list">
                    <i class="fas fa-fw fa-eye"></i>
                    <span>View Incidents</span>
                </a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <i class="fas fa-fw fa-file"></i>

            <span>Files</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Files</h6>
                <a class="collapse-item" href="/uploads/files/new">
                    <i class="fas fa-fw fa-upload"></i>
                    <span>Upload</span></a>
                <a class="collapse-item" href="/uploads/files">
                    <i class="fas fa-fw fa-download"></i>
                    <span>View/ Download</span>
                </a>

            </div>
        </div>
    </li>


</ul>